datasets==2.19.0
diffusers==0.30.0
numpy
torch==2.1.0
torchvision==0.16.0
transformers==4.36.2
wandb==0.13.3
torchmetrics==1.4.1
matplotlib==3.3.1
librosa==0.10.2
laion_clap==1.1.6
encodec
resampy
rdkit
openai-clip